section#aboutcompany
  div.textonimg
    div.body-container
      div.title
        |Почему выберают именно нас?
      div.text
        |Наша компания уже более 15 лет работает на рынке киева и украины!
        |У нас работают профессионалы высочайшего класса, которые смогут воплотить практически любую вашу мечту в жизнь.
        |Проводим предварительную консультацию.
        |Цены весьма гибкие и лояльные!
        |Наша работа окончательно убедит вас в том, что мы — это то, что вам нужно.
        |Нашими клиентами являются крупнейшие предприятия и организаци такие как авт «Бавария», официальный дилер «Mersedes-Benz», посольство евросоюза в украине, пат «Фармак» а также множество других предприятий и частных заказчиков.
        |Мы рады всем клиентам круглосуточно.
      div.imagescat
        div.images
          i.fa.fa-phone.fa-5x(aria-hidden="true")
          span.text
            |Работаем 24/7
        div.images
          i.fa.fa-calendar-check-o.fa-5x(aria-hidden="true")
          span.text
            |Всегда в сроки
        div.images
          i.fa.fa-map-o.fa-5x(aria-hidden="true")
          span.text
            |По всей Украине
        div.images
          i.fa.fa-thumbs-o-up.fa-5x(aria-hidden="true")
          span.text
            |Множество отзывов
