div#aboutcompany
  div.body-container
    div.title
      |Почему выберают именно нас?
    div.text
      |Тут будет описание компании!
    div.imagescat
      div.images
        i.fa.fa-phone.fa-5x(aria-hidden="true")
        span.text
          |Работаем 24/7
      div.images
        i.fa.fa-calendar-check-o.fa-5x(aria-hidden="true")
        span.text
          |Всегда в сроки
      div.images
        i.fa.fa-map-o.fa-5x(aria-hidden="true")
        span.text
          |По всей Украине
      div.images
        i.fa.fa-thumbs-o-up.fa-5x(aria-hidden="true")
        span.text
          |Множество отзывов
