div#aboutcompany
  div.body-container
    div.title
      |Почему выберают именно нас?
    div.text
      |Наша компания уже более 15 лет работает на рынке Киева и Украины! У нас работают профессионалы высочайшего класса, которые смогут воплотить практически любую Вашу мечту в жизнь.
      |Проводим предварительную консультацию. Наши цены весьма гибкие и лояльные! Наша работа окончательно убедит Вас в том, что мы — это то, что Вам нужно.
      |Звоните, и наши специалисты ответят на все Ваши вопросы. Работаем со строительными организациями.
    div.imagescat
      div.images
        i.fa.fa-phone.fa-5x(aria-hidden="true")
        span.text
          |Работаем 24/7
      div.images
        i.fa.fa-calendar-check-o.fa-5x(aria-hidden="true")
        span.text
          |Всегда в сроки
      div.images
        i.fa.fa-map-o.fa-5x(aria-hidden="true")
        span.text
          |По всей Украине
      div.images
        i.fa.fa-thumbs-o-up.fa-5x(aria-hidden="true")
        span.text
          |Множество отзывов
