doctype html
html(lang="ru")
  include ./head.jade
  body
    include ./nav.jade
    block header
    main
      block content
        include ./content.jade
    include ./footer.jade
    script(type="text/javascript", src="js/swiper-local.js")
