div#feedback
  div#map
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.6739003126936!2d30.429628623464133!3d50.44717449938682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc3d0ca0bf31%3A0xa48f76d6c1e13bb2!2z0LLRg9C70LjRhtGPINCT0LDRgNC80LDRgtC90LAsIDI2LzIsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1474146441760", width="500", height="300", frameborder="0", style="border:0", allowfullscreen)
  div#contacts
    div#text_cont
      |123
