section
  div.inpage.body-container
    article
      h1 Художественная ковка
    article.inpagecontent
      div.imagecontent(style="background: url(../images/hudkovka/kov13-min.jpg); background-repeat: no-repeat; background-position: center center; background-size: 100%;")
      div.textcontent
        div.list-category
          p Alfa-automatic занимается такой художественной ковкой:
              ul
                li Решетки оконные
                li Садовый интерьер
                li Мангалы,  камины и принадлежности
                li Кованые качели
                li Лестничные и балконные ограждения
                li Кованые дымоходы
        p
          b Художественная ковка
          &nbsp;- изготовление изящных предметов быта из металлов методами ковки. Художественная ковка отличается от просто ковки тем, что кованые изделия приобретают художественную ценность, становятся произведением искусства.
        p Художественная ковка используется в архитектуре для создания грандиозности зданий.
        p Изделиями художественной ковки могут быть: кованые ворота, калитки, заборы, вывески, козырьки, садовые качели, беседки, флюгеры, решетки, кованые лестницы и перила, люстры, подсвечники и даже кованые кровати и столики.
    article.inpageimages
      h2 Пример наших разработок в художественной ковке
      a(href="images/hudkovka/kov1-min.jpeg")
        div(style="background-image: url(images/hudkovka/kov1-min.jpeg);background-repeat:no-repeat;background-size:cover;background-position:center center;")
      - for (var x = 2; x < 63; x++)
        a(href="images/hudkovka/kov#{x}-min.jpg")
          div(style="background-image: url(images/hudkovka/kov#{x}-min.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;")
