div#forging
  div#list-category
    h1#list-title
      |Художественная ковка
    p Мы занимаемся:
    ul
      li Решетки оконные
      li Садовый интерьер
      li Мангалы,  камины и принадлежности
      li Кованые качели
      li Лестничные и балконные ограждения
      li Кованые дымоходы
  div#forg-content
    b Художественная ковка 
    |- изготовление изящных предметов быта из металлов методами ковки. Художественная ковка отличается от просто ковки тем, что кованые изделия приобретают художественную ценность, становятся произведением искусства.
    |Художественная ковка используется в архитектуре для создания грандиозности зданий.
    |Изделиями художественной ковки могут быть: кованые ворота, калитки, заборы, вывески, козырьки, садовые качели, беседки, флюгеры, решетки, кованые лестницы и перила, люстры, подсвечники и даже кованые кровати и столики.
  div#forg-images
    - var n = 0
    - for (var x = 0; x < 10; x++)
      img(src="images/service1.jpg", width="20%")
