section
  div.inpage.body-container
    article
      h1 Автоматические ворота и калитки
    article.inpagecontent
      div.imagecontent(style="background: url(../images/avtvorota/av9-min.jpg); background-repeat: no-repeat; background-position: center center; background-size: 100%;")
      div.textcontent
        p Первое впечатление о благоустройстве частного дома или дачного участка начинается с ворот. Ограждение отвечает за безопасность  и создает общее восприятие о дворе. Выбор въездных ворот надо обдумать до мелочей, учитывая особенности местности, стилистику дома и материальные возможности.
        p Конструкция может быть автоматизированной или ручной, выполненной из доступных материалов и изготовленной на заказ, главное, чтоб ворота обеспечивали чувство безопасности и комфорт для своих хозяев.
        p Автоматика на воротах гарантирует удобство пользования. Оснащение электроприводом и пультом продлевает рабочий ресурс оборудования: меньше изнашиваются пружина и трос. Отмечено, что гораздо дольше обычных служат автоматические гаражные ворота — Киев выбирает более дорогие системы, при этом экономит на эксплуатации и ремонте.
        p Ещё недавно ворота, открывающиеся по сигналу ДУ, считались своеобразной «экзотикой», принадлежностью богатых домов и государственных территорий. Сегодня они стали привычным явлением — популярным товаром, доступным абсолютному большинству людей. Многие наши клиенты выбирают именно автоматические ворота: Киев цена «автоматики» не отпугивает, а мотивирует на покупку. Функциональность и безопасность этих изделий вполне отвечают современным требованиям.
        p Наша компания делает ворота любой сложности быстро и качественно!
    article.inpageimages
      h2 Пример наших разработок автоматических ворот и калиток
      - for (var x = 1; x < 15; x++)
        a(href="images/avtvorota/av#{x}-min.jpg")
          div(style="background-image: url(images/avtvorota/av#{x}-min.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;")
