header
  div#header-size
    div#logotype
      img(src="images/logooriginal.png")
    div.navigation
      ul.custom-navigation.navigationbar
        li
          a(href="/") Главная
        li
          a(href="#services") Продукция
        li
          a(href="#aboutcompany") О компании
        li
          a(href="#feedback") Контакты
    div#phone
      div
        span Звоните
        p (044)123-12-12
