header
  div#header-size.body-container
    div#logotype
      img(src="images/logooriginal.png")
    div.navigation
      ul.custom-navigation.navigationbar
        li
          a(href="/") Главная
        li
          a(href="#services") Продукция
        li
          a(href="#aboutcompany") О компании
        li
          a(href="#feedback") Контакты
    div#phone
      div
        p
          a(href="tel:380443511083") (044)351-10-83
        span Звоните
