header
  div#header-size
    div#logotype
      img(src="images/logo.png")
    div.navigation
      ul.custom-navigation.navigationbar
        li
          a(href="/") Главная
        li
          a(href="service") Услуги
        li
          a(href="about") О нас
    div#phone
      div
        span Звоните
        p (044)123-12-12
