head
  meta(charset="UTF-8")
  title Alfa-Automatic - художественная ковка, бла бла бла в Киеве и другий городах Украины!
  meta(name="description", content="Альфа Автоматик уже более 10 лет занимаеться бла бла бла.")
  meta(name="keywords", content="художественная ковка")
  meta(name="author", content="Artemchuk Dmytro")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
  script(src="js/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css")
  script(type="text/javascript", src="js/backtotop.js")
