div#review
  div.body-container
    div.title
      |Отзывы
    div.review
      div.container
        div.swiper-wrapper
          div.swiper-slide
            |Давно сотрудничаю с данной компанией, уже с 2007 года. Работают быстро и всегда укладывается в сроки. Я сам строитель и знаю как это важно. Иногда бывает, что цена чуть выше чем у других, но для меня надежность и качество важнее сомнительной выгоды.
          div.swiper-slide
            |Я заказала козырек для балкона и входную дверь. Качеством исполнения довольна. Сделали быстро и качественно и недорого! Спасибо!
          div.swiper-slide
            |Компания Альфа-Автоматик  изготавливала нам на заказ металлическую скамейку и навес в загородный дом. Получилось очень красиво, и сделали быстро, приятно было работать с такими людьми.
        div.button-prev
          i.fa.fa-chevron-circle-left.fa-3x
        div.button-next
          i.fa.fa-chevron-circle-right.fa-3x
