div#review
  div.body-container
    div.title
      |Отзывы
    div.review
      div.container
        div.swiper-wrapper
          div.swiper-slide
            |Отзыв 1
          div.swiper-slide
            |Отзыв 2
          div.swiper-slide
            |Отзыв 3
        div.button-prev
          i.fa.fa-chevron-circle-left.fa-3x
        div.button-next
          i.fa.fa-chevron-circle-right.fa-3x
