div#services
  div.title
    |Продукция
  div.category
    p Художественная ковка
    img(src="images/vorota.jpg")
    a(href="#") Подробнее
  div.category
    p Художественная ковка
    img(src="images/vorota.jpg")
    a(href="#") Подробнее
  div.category
    p Художественная ковка
    img(src="images/vorota.jpg")
    a(href="#") Подробнее
  div.category
    p Художественная ковка
    img(src="images/vorota.jpg")
    a(href="#") Подробнее
