div#services
  div.title
    |Продукция
  div.cat
    div.category
      div.img(style="background: url(images/service1.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        |Художественная ковка
      a(href="forging.html") Подробнее
    div.category
      div.img(style="background: url(images/service2.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        |Изготовление металлоконструкций
      a(href="#") Подробнее
    div.category
      div.img(style="background: url(images/service3.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        |Плазменная резка
      a(href="#") Подробнее
    div.category
      div.img(style="background: url(images/service4.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        |Автоматические ворота и калитки
      a(href="#") Подробнее
    div.category
      div.img(style="background: url(images/service5.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        |Навесы для автомобилей и козырьки
      a(href="#") Подробнее
