div.body-container#services
  div.title
    |Продукция
  div.cat
    div.category
      a(href="forging.html")
        div.img(style="background: url(images/service1.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        a(href="forging.html") Художественная ковка
    div.category
      a(href="forging.html")
        div.img(style="background: url(images/service2.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        a(href="forging.html") Металлоконструкций
    div.category
      a(href="forging.html")
        div.img(style="background: url(images/service2.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        a(href="forging.html") Плазменная резка
    div.category
      a(href="forging.html")
        div.img(style="background: url(images/service4.jpg) no-repeat; background-size: 100%; background-position: center;")
      div.title-services
        a(href="forging.html") Ворота и калитки    
