section
  div.inpage.body-container
    article
      h1 Изделия из нержавеющей стали
    article.inpagecontent
      div.imagecontent(style="background: url(../images/nerjstal/nej3.jpg); background-repeat: no-repeat; background-position: center center; background-size: 100%;")
      div.textcontent
        p Нержавеющая сталь – это сплав стали с 17-19% содержанием хрома. Благодаря этому элементу,  "нержавейка" отлично справляется с любым воздействием атмосферных осадков и противостоит агрессивной (кислотной) среде. Подобные антикоррозийные свойства нержавеющей стали делают ее отличным исходным материалом для изготовления различных изделий с их последующей установкой в домах, офисах, на улицах, в бассейнах, на пристанях и т.д. Зачастую изделия из "нержавейки" не имеют поверхностного дополнительного покрытия, они блестят, словно кристалл, благодаря полировке, обладают повышенным уровнем прочности и жесткости, а так же отлично поддаются сварке.
        p Изделия из нержавеющей стали отлично украшают любой экстерьер помещения. Взять, к примеру, балконные ограждения. Их главная роль заключается в том, чтобы обеспечивать надежную функциональность и являться элегантным украшением наружной стороны здания и балкона. Балконные ограждения могут быть выполнены из дерева или же из металла. При выборе последнего заказчики отдают предпочтение алюминию, черному металлу или же нержавеющей стали. Ограждения нержавеющая сталь – самые надежные.
        p Для балконных ограждений из нержавеющей стали во время монтажа могут применяться повороты и отводы нестандартных углов, а так же сварочные работы. По своей надежности "нержавейка"  лучше всех остальных своих конкурентов. Изделия из других материалов со временем блекнут, тускнеют, ржавеют, теряют свой первоначальный вид. Нержавеющая сталь остается прежней. Она не нуждается в особом уходе, и, наверное, именно поэтому так часто используется строителями и дизайнерами.
        p Несмотря на такой успех этого материала, уход за изделиями из нержавеющей стали все же необходим. Правда, он скорее косметический, чем основательный. Все дело в том, что очень часто на поверхностях из "нержавейки" можно встретить отпечатки пальцев, которые легко можно устранить с помощью аэрозоля на восковой основе. Во время ухода не нужно пользоваться моющими средствами, в составе которых есть какие-либо масла. Это лишь притянет к изделию пыль и доставит вам дополнительные неудобства.  Так же не стоит использовать средства, которые могут поцарапать "нержавейку".
        p Одна из самых надежных – нержавеющая сталь 316 серии. Она не поддается коррозии и демонстрирует отличные показатели в условиях агрессивной среды.
    article.inpageimages
      h2 Пример наших разработок изделий из нержавеющей стали
      - for (var x = 1; x < 12; x++)
        a(href="images/nerjstal/nej#{x}.jpg")
          img(src="images/nerjstal/nej#{x}.jpg")
