section
  div.inpage.body-container
    article
      h1 Металлоконструкций
    article.inpagecontent
      div.imagecontent(style="background: url(../images/metalkonst/metal7-min.jpg); background-repeat: no-repeat; background-position: center center; background-size: 100%;")
      div.textcontent
        p Металлические конструкции (также: металлоконструкции, сокр.: МК) — общее название конструкций из металлов и различных сплавов, используемых в различных областях хозяйственной деятельности человека: строительстве зданий, станков, масштабных устройств, механизмов, аппаратов и т. п.
        p В машиностроении обычно под металлоконструкциями подразумеваются детали, изготовленные из профилированного металла, в отличие от литых деталей и поковок.
        p В строительстве термином «строительные металлоконструкции» описываются несущие стальные строительные элементы здания из металла.
        p Металлоконструкции обладают рядом достоинств:
        div.list-category
          ul
            li лёгкость;
            li коррозионная стойкость (для оцинкованных конструкций и конструкций из алюминиевых сплавов);
            li технологичность;
            li пространственная прочность, жёсткость;
            li высокие декоративные свойства;
            li быстрота монтажа (сооружения) и демонтажа.
        p По характеру соединения элементов между собой различают соединения:
        div.list-category
          ul
            li сварные;
            li заклёпочные;
            li резьбовые.
        p Металлоконструкции зданий и сооружений можно разделить на технологические и строительные. Технологические конструкции представлены в основном опорами под оборудование и трубопроводы, бункерами, эстакадами, рукавами, отстойниками, мерниками, рабочими площадками, лестницами, стойками и другими. Часть из них изготавливается на заводах, но некоторые конструкции могут быть изготовлены и на стройплощадке.
        p Строительные конструкции по расчётным моделям делятся на следующие типы:
        div.list-category
          ul
            li отдельные конструктивные элементы (балки, стойки, колонны и другие);
            li плоские или пространственные раскреплённые системы;
            li плоские или пространственные нераскреплённые системы;
            li Листовые конструкции.
        p Наиболее эффективны металлические конструкции для покрытий зданий и сооружений, так как при этом проявляется способность металла хорошо сопротивляться растяжению и изгибу. Покрытия могут быть выполнены из ферм и оболочек.
    h2 Пример наших разработок металлоконструкций
    article.inpageimages
      - for (var x = 1; x < 7; x++)
        a(href="images/metalkonst/metal#{x}-min.jpg")
          div(style="background-image: url(images/metalkonst/metal#{x}-min.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;")
