server {
    listen 80 default_server;
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 80;

    include /etc/nginx/conf.d/common/ssl_common.conf;

    location / {
        alias /var/www/alfa-automatic/;
        try_files $uri /index.html index.html;
    }
}

