section
  div.inpage.body-container
    article
      h1 Плазменная резка
    article.inpagecontent
      div.imagecontent(style="background: url(../images/plasma.jpg); background-repeat: no-repeat; background-position: center center; background-size: 100%;")
      div.textcontent
        b Плазменная резка металла в Киеве
        p При резке металлов или изготовлении деталей большое значение имеют эффективность используемых технологий и экономические показатели производства. Плазменная резка – та технология разделительной резки, которая позволяет быстро и точно выполнить самую сложную задачу по обработке металла.
        p Предлагает плазменную резку:
        div.list-category
          ul
            li углеродистой стали;
            li коррозийно-стойкой стали (нержавейка);
            li алюминиевых сплавов;
            li сплавов на основе меди;
            li алюминия и других металлических листов.
        p
          b Особенности и преимущества технологии плазменной резки
        p Это самая эффективная технология получения металлоизделий для многих сфер производства (строительство, машиностроение). С помощью плазменной резки можно изготовить металлические конструкции любого назначения и сложности.
        p Плазменная резка металла имеет свои особенности и преимущества в сравнении с газокислородной и лазерной резкой:
        div.list-category
          ul
            li Высокая скорость обработки металлов
            li Отсутствие деформационных наплывов на обработанной поверхности реза
            li Возможность  обработки черных и цветных металлов, их сплавов
            li Не требуется дополнительная обработка готового изделия
            li Может быть выполнена резка любых геометрических форм и фигур
            li Высокая точность реза (+/- 0,25 мм) и соосность готовых отверстий (не более +/- 0,1 мм)
            li Высокая повторяемость изделий (точность – не более +/- 0,1)
            li Минимальное негативное воздействие на окружающую среду
            li Нет ограничений по толщине металла, как у лазерной резки.
        p Для каждого обрабатываемого с помощью плазмы металла есть свои особенности. Для нержавеющей стали – это получение круглых заготовок больших диаметров: механический метод не позволяет фигурно разрезать листы нержавейки. Для титана и титановых сплавов – отсутствие образования твердых растворов внедрения.
    article.inpageimages
      h2 Пример наших разработок с плазменной резкой
      - for (var x = 1; x < 6; x++)
        a(href="images/plazrezka/plaz#{x}-min.jpg")
          div(style="background-image: url(images/plazrezka/plaz#{x}-min.jpg);background-repeat:no-repeat;background-size:cover;background-position:center center;")
