section.body-container#services
  div.title
    |Продукция
  div.cat
    div.category
      div.img
        a(href="forging.html")
          img(src="images/service1.jpg")
      div.title-services
        a(href="forging.html") Художественная ковка
    div.category
      div.img
        a(href="steel.html")
          img(src="images/service2.jpg")
      div.title-services
        a(href="steel.html") Металлоконструкций
    div.category
      div.img
        a(href="forging.html")
          img(src="images/service3.jpg")
      div.title-services
        a(href="stainsteel.html") Изделия из нерж. стали
    div.category
      div.img
        a(href="cutting.html")
          img(src="images/service4.jpg")
      div.title-services
        a(href="cutting.html") Плазменная резка
    div.category
      div.img
        a(href="gate.html")
          img(src="images/service5.jpg")
      div.title-services
        a(href="gate.html") Автоматические ворота и калитки
    div.category
      div.img
        a(href="visors.html")
          img(src="images/service6.jpg")
      div.title-services
        a(href="visors.html") Навесы для автомобилей и козырьки
