#aboutcompany
  background: linear-gradient(to bottom, #2196f3, #3a7bd5)
  color: #fff
  position: relative
  overflow: hidden
  display: block
  padding: 2rem 0
  .title
    font-size: 24px
    text-align: center
    padding-bottom: 2rem
    font-weight: 600
    text-transform: uppercase
    color: #fff
  .text
    padding-bottom: 10px
    width: 100%
    display: block
    text-align: center
  .imagescat
    padding-bottom: 2rem
    padding-top: 2rem
    width: 100%
    .images
      float: left
      width: 25%
      text-align: center
      i
        color: #eea849
      span
        padding-top: 1rem
        font-size: 18px
