#aboutcompany
  background-color: #2196f3
  color: #fff

#blocks
  max-width: 1200px
  margin: 0 auto

#blocks .title
  font-size: 24px
  text-align: center
  padding-top: 10px
  font-weight: 500
  text-transform: uppercase
  color: #fff

#blocks .text
  padding-bottom: 10px
  padding-top: 5px
  width: 100%
  display: block

.imagescat
  padding-bottom: 15px
  padding-top: 5px
  width: 100%
  display: table

.images
  display: table-cell
  width: 20%
  text-align: center
