#feedback
  max-width: 1200px
  margin: 0 auto
  display: table
  padding: 10px 0

#map
  width: 70%
  display: table-cell

#contacts
  width: 30%
  display: table-cell
  vertical-align: top
  padding-left: 10px
