#feedback
  margin-bottom: 10px
  #map
    width: 100%
    display: block
    overflow: hidden
    position: relative
    margin-top: 10px
    .map
      width: 49.5%
      height: 350px
      border: 0
      margin-right: .5%
    .map:last-child
      margin-right: 0
      margin-left: .5%
  #contacts
    width: 100%
    #text_contact
      display: table
      vertical-align: top
      .contact
        display: table-cell
        width: calc(1200px/3)
        text-align: center
