//Tablet
@media screen and (max-width:1200px)
  .body-container
    max-width: 1024px
    margin: 0 auto

@media screen and (max-width:1024px)
  .body-container
    max-width: 1000px
    margin: 0 auto

@media screen and (max-width:922px)
  .body-container
    max-width: 922px
    margin: 0 auto
  header
    .navigation
      .custom-navigation
        li
          display: none
        li:first-child
          display: block

@media screen and (max-width:600px)
  #feedback
    #contacts
      #text_contact
        display: block
        .contact
          display: block
          width: 600px

@media screen and (max-width:768px)
  .body-container
    max-width: 768px
    margin: 0 auto
  header
    .navigation
      .custom-navigation
        li
          display: none
        li:first-child
          display: block

//Mobile
@media screen and (max-width:480px)
  .body-container
    max-width: 480px
    margin: 0 auto
  #services
    .cat
      .category
        display: block
        width: 100%
