#review
  background-color: #bbdefb

#content-review
  max-width: 1200px
  margin: 0 auto

#content-review .title
  font-size: 24px
  text-align: center
  padding-top: 10px
  font-weight: 500
  text-transform: uppercase
  color: #444

.review
  padding-bottom: 15px

.swiper-container
  width: 1200px
  height: 100px

.swiper-slide
  padding: 20px 60px

.swiper-pagination-bullets
  left: -50%
