#services
  max-width: 1200px
  margin: 0 auto

#services .title
  font-size: 24px
  text-align: center
  margin-top: 15px
  font-weight: 500
  text-transform: uppercase
  color: #444

.category
  display: inline-block
  width: 25%
  text-align: center
  margin: 15px 0
  color: $alfa-blue

.category p
  font-weight: 100
  font-size: 16px
  color: #3f51b5

.category img
  width: 250px
  +border-radius(3px)

.category a
  text-transform: uppercase
  font-size: 12px

.category a:hover
  padding: 5px 10px
  background-color: #3f51b5
  color: #fff
  +border-radius(3px)
