#services
  max-width: 1200px
  color: $alfa-blue
  margin: 0 auto

.tables
  display: table

.category
  display: table-cell
  width: 25%

.category ul
  list-style: none
  padding-left: 0

.category li, .category li a
  display: block
  position: relative

.category li a
  padding: 5px 0

.picture
  display: table-cell
  width: 75%
  padding-left: 10px

.picture img
  +border-radius(3px)
