#toppicture
  background: url(../images/vorota.jpg) no-repeat
  +background-size(100%)
  width: 100%
  height: 720px
  border-bottom: 1px solid #000

.image-shadow
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.2)
